.welcomeContainer h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    font-style: oblique;
    margin-top: 2rem;
  
    
  }

.editor{
  margin-top: 27rem;
  margin-left: 10rem;
  font-size: large;
}
.sendButton{
  margin-top: -12rem !important;
}
